.exam-container{
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    font-family:initial;
}
/* -------header--------- */
.exam-head{
    top: 0;
    position: sticky;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-silver);
    background: #fff;
}
.exam__left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 40%;
}
.exam__nav, .exam__social{
    display: flex;
    align-items: center;
    list-style: none;
}
.exam__logo{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
    border-radius: 50%;
    background: var(--color-dark-slate-grey);
    color: #fff;
}
.exam__nav li:not(:last-child), .exam__social li:not(:last-child){
    margin-right: 10px;
}
.exam__social li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color-dark-slate-grey);
    color: #fff;
}
.exam__social li a:nth-last-child(){
    margin-right: 0;
}
.burger{
    display: none;
    position: relative;
    width: 30px;
}
.burger > span,
.burger > span::before,
.burger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.burger > span::before {
  content: '';
  top: -8px;
}
.burger > span::after {
  content: '';
  top: 8px;
}
/* -------main----------- */
.main-wrap{
    margin-bottom:50px;
    display: flex;
}
.aside-wrap{
    flex-basis: 40%;
    margin-right: 30px;
}
.exam-aside-nav{
    top: 61px;
    position: sticky;
    text-align: center;
    padding: 20px;
    list-style: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    min-height: 80vh;
}
.exam-aside-nav li{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.block{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-silver);
}
.block__content{
    padding: 20px 50px;
    display: flex;
    align-items: center;
}
.block__wrap h2{
    font-size: 40px;
}
.block__wrap p{
    margin: 20px 0;
}
.block__wrap a{
    padding: 5px 20px;
    border: 1px solid var(--color-silver);
    border-radius: 5px;
}
.block__img{
    min-height: 50vh;
    background-color: var(--color-dark-slate-grey);
    flex-basis: 50%;
    flex-shrink: 0;
}
.block:nth-child(2){
    flex-direction: row-reverse;
   
}
.block:nth-child(2) .block__img{
    background: var(--color-silver);
    min-height: 30vh;
    flex-basis: 30%;
}
/* ------features------- */
.features-wrap{
    margin: 20px auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    justify-content: center;
}
.features-item{
    padding: 40px;
    text-align: center;
}
.features-icon{
    display: inline-block;
   width: 40px; 
   height: 30px;
   background-color: var(--color-silver);
}
.features-item h3{
    font-size: 18px;
    margin: 20px 0;
}
.features-item:nth-child(-n+3){
    border-bottom: 1px solid var(--color-silver);
}
.features-item:nth-child(-n+2), .features-item:nth-child(n+4):nth-child(-n+5){
    border-right: 1px solid var(--color-silver);
}




@media only screen and (max-width: 1200px) {
    .exam-container{
        max-width: 1000px;
    }
    
    .aside-wrap{
        display: none;
    }
}
@media only screen and (max-width: 850px) {
    .exam__left{
        flex-basis: 60%;
        }
    .exam__right{
        display: none;
        }
    .block:nth-child(2) .block__img{
        flex-basis: 50%;
    }
    .block__wrap h2{
        font-size: 24px;
    }
    .block__img{
        min-height: 40vh;
    }
    
    .block:nth-child(2) .block__img{
        /* height: 20vh; */
    }
    .features-wrap{
        max-width: 70%;
        grid-template-columns: repeat(2, 1fr);
    }
    .features-item:nth-child(-n+3){
        border-bottom: none
    }
    .features-item:nth-child(-n+2), .features-item:nth-child(n+4):nth-child(-n+5){
        border-right: none;
    }
    .features-item:nth-child(-n+4){
        border-bottom: 1px solid var(--color-silver)
    }

    .features-item:nth-child(odd){
        border-right: 1px solid var(--color-silver)!important;
    }

    
}
@media only screen and (max-width: 600px) {
    .exam__nav{
        display: none;
    }
    .burger{
        display: block;
    }
    .block{
        flex-wrap: wrap;
        border-bottom: none;
        margin-bottom: 30px;
    }
    .block, .block:nth-child(2){
        flex-direction: column-reverse;
    }
    .features-wrap{
        max-width: 50%;
        grid-template-columns: 1fr;
    }
    .features-item:nth-child(-n+5){
        border-bottom: 1px solid var(--color-silver)
    }
    .features-item:nth-child(odd){
        border-right: none!important;
    }

}


